:root {
  background-color: antiquewhite;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */
body {
  font-family: Times, "Times New Roman", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica, Arial, Geneva, sans-serif;
  font-weight: 300;
}
