.completed {
    background-color: green;
}
.in-progress {
    background-color: orange;
}
.not-started {
    background-color: red;
}


body {
    margin: 0px;
    padding: 0px;
}


.version {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
}

.term {
    font-weight: bold;
}

.language {
    font-family:'Courier New', Courier, monospace;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.nohighlight {
    padding: 13px;
    display: block;
    background: rgb(243,243,243);
}

.entry {
    display: none;
}

iframe {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
}

.top{
    flex: 100%;
}

.left {
    flex: 40%;
    text-align: center;
    height: 100vh;
    overflow-y: scroll;
}

.right {
    flex: 60%;
    height: 100vh;
    overflow-y: scroll;
}

@media (max-width: 1200px) {
    .container {
        flex-direction: column;
    }
}
  
.navbar {
    overflow: hidden;
    background-color: #333;
    width:100vw;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
float: left;
overflow: hidden;
}

.dropdown .dropbtn {
font-size: 16px;  
border: none;
outline: none;
color: white;
padding: 14px 16px;
background-color: inherit;
font-family: inherit;
margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
background-color: red;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown-content a:hover {
background-color: #ddd;
}

.dropdown:hover .dropdown-content {
display: block;
}