/* GENERAL */
* {
    position: relative;
    overflow-x: hidden;
}

:root {
    --darkGray: #585858;
    --gray: #545454;
    --lightGray: #808080;
    --evenLighterGray: #bfbfbf;
    --barelyGray: rgb(238, 238, 238);
}

code {
    display: block;
    white-space: pre-wrap;
}

body {
    background-color: white;
    max-width: 1000px;
    margin: auto;
}

iframe {
    overflow: hidden;
    height: 100%;
    width: 100%;
    border: none;
}

/* TYPOGRAPHY */
h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

h1 {
    width: 70vw;
    padding: 20px;
    margin: auto;
    font-size: 100px;
}

h2 {
    font-size: 35px;
    display: inline;
    color: var(--darkGray);
}

h3 {
    font-size: 25px;
    color: var(--lightGray);
}

h4 {
    font-size: 18px;
    color: var(--lightGray);
}

pre {
    position:relative;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:100%;
}
pre button {
    max-height:20px;
    width:10vw;
}
code {
    position:relative;
    width:90vw;
}

p,
li,
a {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: var(--darkGray);
}

/* HEADER */

/* MAIN */
section {
    padding: 20px 30px;
    width: 70vw;
    margin: auto;
    overflow: hidden;
    border-top: 1px solid var(--evenLighterGray);
}

section:last-of-type {
    border-bottom: 1px solid var(--evenLighterGray);
    margin-bottom: 40px;
}

h2:hover,
h3:hover {
    color: black;
    cursor: pointer;
}

section h3 {
    position: relative;
    overflow: visible;
}

section h2::before,
section h2::after,
section h3::before,
section h3::after {
    content: '<';
    position: absolute;
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
    color: var(--lightGray);
}

section h2::after,
section h3::after {
    content: '>';
}

section h2:hover::before,
section h3:hover::before {
    transform: translateX(-150%);
    opacity: 1;
}

section h2:hover::after,
section h3:hover::after {
    transform: translateX(75%);
    opacity: 1;
}
/* FOOTER */
