<div class="collapsible main-collapsible">
  <header class="collapsible__header collapsible--open">
    <div class="collapsible__heading-container">
      <h2 class="collapsible__heading">Heading</h2>
    </div>
    <img class="collapsible__chevron" src="images/chevron.svg" alt="" />
  </header>
  <div class="collapsible__content">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio ad libero,
      sequi explicabo molestiae quo aut corporis maiores aspernatur pariatur.
    </p>
  </div>
</div>
