<div class="collapsible main-collapsible">
  <header class="collapsible__header collapsible--open">
    <div class="collapsible__heading-container">
      <h2 class="collapsible__heading">Heading</h2>
    </div>
    <img class="collapsible__chevron" src="images/chevron.svg" alt="" />
  </header>
  <div class="collapsible__content">
    <div class="collapsible sub-collapsible">
      <header class="sub-collapsible__header">
        <div class="sub-collapsible__heading-container">
          <h3 class="sub-collapsible__heading">Heading</h3>
        </div>
        <img class="sub-collapsible__chevron" src="images/chevron.svg" alt="" />
      </header>
      <div class="sub-collapsible__content">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio ad
          libero, sequi explicabo molestiae quo aut corporis maiores aspernatur
          pariatur.
        </p>
      </div>
    </div>
    <div class="collapsible sub-collapsible">
      <header class="sub-collapsible__header">
        <div class="sub-collapsible__heading-container">
          <h3 class="sub-collapsible__heading">Heading</h3>
        </div>
        <img class="sub-collapsible__chevron" src="images/chevron.svg" alt="" />
      </header>
      <div class="sub-collapsible__content">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio ad
          libero, sequi explicabo molestiae quo aut corporis maiores aspernatur
          pariatur.
        </p>
      </div>
    </div>
    <div class="collapsible sub-collapsible">
      <header class="sub-collapsible__header">
        <div class="sub-collapsible__heading-container">
          <h3 class="sub-collapsible__heading">Heading</h3>
        </div>
        <img class="sub-collapsible__chevron" src="images/chevron.svg" alt="" />
      </header>
      <div class="sub-collapsible__content">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio ad
          libero, sequi explicabo molestiae quo aut corporis maiores aspernatur
          pariatur.
        </p>
      </div>
    </div>
  </div>
</div>
