<div class="hero container">
  <header class="hero__header">
    <h1>Notes, tricks, and tips to simplify coding.</h1>
  </header>
  <div class="hero__description">
    <p>
      I created this space to document the things I've learned for easy
      reference
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit fugit
      quibusdam fuga libero delectus facere deserunt eos distinctio aspernatur
      consequatur!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
      ducimus earum aliquam vel id.
    </p>
  </div>
</div>
