<div class="collapsible sub-collapsible">
  <header class="sub-collapsible__header sub-collapsible--open">
    <div class="sub-collapsible__heading-container">
      <h3 class="sub-collapsible__heading">Heading</h3>
    </div>
    <img class="sub-collapsible__chevron" src="images/chevron.svg" alt="" />
  </header>
  <div class="sub-collapsible__content">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio ad libero,
      sequi explicabo molestiae quo aut corporis maiores aspernatur pariatur.
    </p>
  </div>
</div>
